interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.powerbi.com/v1.0/myorg/groups
  response:
    body:
      string: "{\r\n  \"@odata.context\":\"http://wabi-uk-south-c-primary-redirect.analysis.windows.net/v1.0/myorg/$metadata#groups\",\"@odata.count\":3,\"value\":[\r\n
        \   {\r\n      \"id\":\"00000000-0000-0000-0000-000000000001\",\"isReadOnly\":false,\"isOnDedicatedCapacity\":false,\"type\":\"Workspace\",\"name\":\"FirstWorkspace\"\r\n
        \   },{\r\n      \"id\":\"00000000-0000-0000-0000-000000000002\",\"isReadOnly\":false,\"isOnDedicatedCapacity\":false,\"type\":\"Workspace\",\"name\":\"SecondWorkspace\"\r\n
        \   },{\r\n      \"id\":\"00000000-0000-0000-0000-000000000003\",\"isReadOnly\":false,\"isOnDedicatedCapacity\":false,\"type\":\"AdminInsights\",\"name\":\"Admin
        monitoring\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      home-cluster-uri:
      - https://wabi-uk-south-c-primary-redirect.analysis.windows.net/
      odata-version:
      - '4.0'
      request-redirected:
      - 'true'
      requestid:
      - 5fe5aa9d-0c0c-476b-9e38-78b4eecd3c6b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.powerbi.com/v1.0/myorg/groups
  response:
    body:
      string: "{\r\n  \"@odata.context\":\"http://wabi-uk-south-c-primary-redirect.analysis.windows.net/v1.0/myorg/$metadata#groups\",\"@odata.count\":3,\"value\":[\r\n
        \   {\r\n      \"id\":\"00000000-0000-0000-0000-000000000001\",\"isReadOnly\":false,\"isOnDedicatedCapacity\":false,\"type\":\"Workspace\",\"name\":\"FirstWorkspace\"\r\n
        \   },{\r\n      \"id\":\"00000000-0000-0000-0000-000000000002\",\"isReadOnly\":false,\"isOnDedicatedCapacity\":false,\"type\":\"Workspace\",\"name\":\"SecondWorkspace\"\r\n
        \   },{\r\n      \"id\":\"00000000-0000-0000-0000-000000000003\",\"isReadOnly\":false,\"isOnDedicatedCapacity\":false,\"type\":\"AdminInsights\",\"name\":\"Admin
        monitoring\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      home-cluster-uri:
      - https://wabi-uk-south-c-primary-redirect.analysis.windows.net/
      odata-version:
      - '4.0'
      request-redirected:
      - 'true'
      requestid:
      - bc284374-9b98-4f5d-9d0d-a0b84c6a5010
    status:
      code: 200
      message: OK
version: 1
